<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://jayso.oss-cn-beijing.aliyuncs.com/digifinex_Release_2021.04.23_801_093401.ipa?Expires=1619317726&amp;OSSAccessKeyId=TMP.3Kfp3Vgo2dJcR8aWZgAGesu84XjcNGeQyCs69QaaJbxkJXYMoXrE2JYcvDbLZSj8UR3eAg9LpQGGN6xdkvq1Boh15pTHQy&amp;Signature=BGhNmp7C1%2FEzjsBAtvkZc7xVIMM%3D&amp;versionId=CAEQChiBgID_lL_4xxciIDIwMGViMjNkMzVjYjQ2MTA4YmEwYzdkMzA1ZmUzM2Uz&amp;response-content-type=application%2Foctet-stream</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://jayso.oss-cn-beijing.aliyuncs.com/Icon.png?Expires=1619317807&amp;OSSAccessKeyId=TMP.3Kfp3Vgo2dJcR8aWZgAGesu84XjcNGeQyCs69QaaJbxkJXYMoXrE2JYcvDbLZSj8UR3eAg9LpQGGN6xdkvq1Boh15pTHQy&amp;Signature=mzM0rdtrb%2B52moDpJXGtOXwHO1Q%3D&amp;versionId=CAEQChiBgMCx5bn4xxciIDNhNGVkNzAzMzdlMDQ0YmVhMDEwMmNjZGFjMWEyMWU5&amp;response-content-type=application%2Foctet-stream</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://jayso.oss-cn-beijing.aliyuncs.com/Icon.png?Expires=1619317807&amp;OSSAccessKeyId=TMP.3Kfp3Vgo2dJcR8aWZgAGesu84XjcNGeQyCs69QaaJbxkJXYMoXrE2JYcvDbLZSj8UR3eAg9LpQGGN6xdkvq1Boh15pTHQy&amp;Signature=mzM0rdtrb%2B52moDpJXGtOXwHO1Q%3D&amp;versionId=CAEQChiBgMCx5bn4xxciIDNhNGVkNzAzMzdlMDQ0YmVhMDEwMmNjZGFjMWEyMWU5&amp;response-content-type=application%2Foctet-stream</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.digifinex.app</string>
				<key>bundle-version</key>
				<string>2021.04.22</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>App Sub Title</string>
				<key>title</key>
				<string>Digifinex</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
